@charset "UTF-8";

#center_div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

#center_div>div:first-child {
	max-width: 1400px;
	min-width: 1400px;
	height: 100%;
	display: flex;
}

#center_div>div:first-child>div:nth-child(1) {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 500px;
	margin: 20px 10px 20px 10px;
	display: flex;
}

#center_div>div:first-child>div:nth-child(1) h1 {
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	margin-bottom: 10px;
	padding-left: 10px;
}

#center_div>div:first-child>div:nth-child(2) {
	width: 1100px;
	height: 1000px;;
	overflow: hidden;
	margin: 20px;
}

#center_menu_section {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: azure;
	border: 1px solid #2a365c;
}

#center_menu_section ul {
	width: 100%;
}

#center_menu_section>ul>li {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 20%;
	cursor: pointer;
	align-items: center;
}

#center_menu_section>ul li.on {
	background-color: #2a365c;
	color: azure;
}

#center_menu_section>ul>li:hover {
	background-color: #2a365c;
	color: azure;
}

#contents_div>div:nth-child(n+1) {
	display: none;
	width: 100%;
}

#contents_div h2 {
	display: flex;
	width: 170px;
	align-items: center;
	height: 70px;
	padding-left: 10px;
	float: left;
}

#contents_div  h4 {
	display: flex;
	align-items: center;
	height: 70px;
	width: 800px;
	color: rgb(71, 68, 68);
}

#contents_notis_table {
	width: 100%;
	height: 100%;
	clear: both;
	display: flex;
	flex-direction: column;
}

#notice_form{
	position:relative;
	width: 100%;
	height: 50px;
	margin: 10px 0 10px 0;
}

#notice_form button{
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
	right:20px;
	width: 100px;
	height: 40px;
	border: 1px solid #2a365c;
	background:none;
	cursor: pointer;
}

#notice_form button:hover{
	background:#2a365c;
	color: azure;
}

#contents_div table {
	width: 100%;
	border-collapse: collapse;
	font-weight: normal;
	font-size: 15px;
}
#contents_div table tr:last-child div{
	display:flex;
	justify-content:center;
	width: 100%;
}

#contents_div table tr:last-child a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border: 1px solid #2a365c;
    margin: 5px;
    color: black;
    cursor: pointer;
    font-size: 15px;
}
#contents_div table tr:last-child a:hover{
	background-color: #2a365c;
	color: azure;
}

#contents_div table tr {
	height: 60px;
}

#contents_div table tr:nth-child(1) {
	border-top: 3px solid #2a365c;
}

#contents_div table tr:last-child {
	border-bottom: 3px solid #2a365c;
}

#contents_div table th, td {
	font-size: 12px;
	font-weight: unset;
	border-top: 1px solid #2a365c;
}

#contents_div tr:first-child th, tr:first-child td {
	font-weight: bold;
	font-size: 15px;
}

#frequently_asked_questions {
	width: 100%;
}

#frequently_asked_questions>select {
	width: 150px;
	height: 40px;
	margin: 10px 0 10px 0;
}

#contents_fre_table th:nth-child(1) {
	width: 80px;
}

#contents_fre_table th:nth-child(2) {
	width: 150px;
}

#contents_fre_table tr:nth-child(n+2) th:nth-child(3) {
	text-align: left;
}



